@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;500&display=swap');


body,
ul,
li p {
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    font-family: 'League Spartan', sans-serif;
    list-style: none;
}




/*=============CABEÇALHO============*/


.header {
    position: fixed;
    width: 100%;
    height: 4rem;
    display: grid;
    align-items: center;
    z-index: 4;
    background-color: #F4F6F7;
    transition: all 0.3s ease;


}

.header.sticky {
    padding: 7px 0;
    background-color: #EDE54E;
}

.logo {
    font-size: 30pt;
}

.topo {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.topo {
    max-width: 1300px;
    padding: 0 80px;
}

.menu {
    display: flex;
}

.menu li {
    padding: 5px;
}

.menu li a {
    text-decoration: none;
    display: block;
    padding: 10px;
    color: black;
    font-size: 17pt;

}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 3px;
    background: black;
    margin: 7px;
    transition: 0.3s;
}

/*==========CORPO==========*/
.main {
    position: relative;
    background-color: #F4F6F7;
    top: 4rem;
}


/*======HOME=========*/
.home {
    padding: 80px 0px;
    font-family: 'League Spartan', sans-serif;
    /* position: relative; */
    top: 2.5rem;
}

.max-width {
    margin: auto 6.813rem auto 6.813rem;
}

.home-content {
    display: grid;
    grid-template-columns: 11.4% 52.6% 31.1%;
    align-items: center;
}

.text {
    color: black;
    position: relative;
    bottom: 25px;
    width: 30rem;
    line-height: 2em;
}

#hi {
    font-size: 38pt;
}

#desc {
    font-size: 18pt;
    font-weight: 700;
    color: #606062;
}

.text p {
    font-size: 18pt;
    color: #606062;
}

.imagens {
    width: 50px;
    margin-right: 3rem;
    position: relative;
    top: 55px;

}

.imagens img {
    margin-bottom: 1.25rem;
}

.foto {
    width: 360px;
    height: auto;
}

.foto img {
    width: 100%;
    height: 100%;
}

/*======ABOUT=========*/
.about {
    padding: 80px 0px;
}

.about-content {
    display: grid;
    grid-template-columns: 50% 50%;
}

#about_me {
    padding-right: 74px;
    width: 400px;
    height: auto;
}

.title {
    font-size: 36pt;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title2 {
    font-size: 21pt;
    text-align: center;
    color: #606062;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 30px;
}

#description {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18pt;
    color: #606062;
    line-height: 2.5rem;
    text-align: justify;
    font-weight: 400;
}

#Curriculo {
    display: flex;
    background-color: #ddd20d;
    color: black;
    border: none;
    border-radius: 15px;
    font-size: 17pt;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 60px;
    text-decoration: none;
}

#Curriculo:hover {
    background-color: #E0DA6B;
    color: #373435;
}


/*======SERVICE=========*/

.service {
    background-color: #373435;
    padding: 80px 0px;
}

#inverse {
    color: white;
    font-weight: 400;
}

#inverse2 {
    color: #EDE54E;
    font-weight: 300;
}

.service-content {
    display: grid;
    justify-self: stretch;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;

}

.quad {
    display: block;
    background-color: #4B4B4D;
    padding: 50px 40px 5px 40px;
    text-align: center;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
}

.quad:hover {
    background-color: #EDE54E;
}

.quad:hover h3 {
    color: #333031;
}

.quad h3 {
    color: #EDE54E;
    font-family: 'League Spartan', sans-serif;
    font-size: 25pt;
    font-weight: 500;
    margin: 25px;
}

.quad h4 {
    font-weight: 200;
    font-size: 25pt;
    margin: 20px;
}

.quad h4 a {
    text-decoration: none;
    color: white;
}

.icon_service {
    width: 75px;
    height: 75px;
    fill: #EDE54E;
}

.quad:hover .icon_service {
    fill: #333031;
}

.btn_service {
    cursor: pointer;
}

/*<---MODEL CONTAINER--->*/

.model-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    z-index: 2000;
}

/*=====NOVO TARGET======*/

.model {
    position: relative;
    background-color: #E0DA6B;
    padding: 5px 60px;
    border-radius: 15px;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


/*deve estar junto pois equivale a acrescentar a classe em cima de outra*/
.model-container.mostrar {
    visibility: visible;
    opacity: 1;
}

.mostrar .model {
    animation: modal 0.3s;
    visibility: visible;
    opacity: 1;
}

.modalclose {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #333031;
    text-decoration: none;
    font-size: 36px;
    cursor: pointer;
}

/*======TEAM=========*/

.jobs {
    padding: 80px 0px;
}


.carousel {
    max-width: 1100px;
    width: 100%;
}

.carousel img {
    height: 210px;
}

/*
.carousel img {
    height: 210px;
}*/

.people {
    position: relative;
    width: 280px;
    height: 370px;
    border-radius: 15px;
    background: linear-gradient(#EDE54E, #EDE54E 30%, #373435 30%, #373435);
    /*PARA GARANTIR QUE AS BORDAS FIQUEM ARREDONDADAS*/
    overflow: hidden;
}

.people .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 3;
    transform-origin: top;
    border-radius: 15px;
    overflow: hidden;
}

.people:hover .imgBox {
    transform: translateY(30px) scale(0.5);
}

.people .imgBox img {
    /* 
    SOMENTE PARA TESTAR SEM A FOTO
    display: none;
    */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.people .card_content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: translateY(100%);
    transition: 0.5s;
}


.people:hover .card_content {
    transform: translateY(0);
}

.card_content .details {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.details h3 {
    color: #F4F6F7;
    font-family: 'League Spartan', sans-serif;
    font-weight: 500;
    text-align: center;
    margin: 5px 0px;

}

.details span {
    color: #EDE54E;
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
}

.social_icons {
    position: relative;
    display: flex;
    margin: 5px;
}

.social_icons li {
    list-style: none;
    margin: 5px;
}

.social_icons li a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4B4B4D;
    border-radius: 50%;
    font-size: 1.3em;
    color: #F4F6F7;
    text-decoration: none;
    transition: 0.5s;
}

.social_icons li a:hover {
    transform: rotate(360deg);
    background-color: #ddd20d;
    color: #333031;
}


/*======CONTACT=========*/
.contact {
    background-color: #333031;
    margin: 80px 0px;
    padding: 30px 0px;
}

.contact-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "p f";
}


.name_tag h2 {
    margin-top: 25px;
    margin-bottom: 5px;
}

.pessoal {
    font-size: 19pt;
    color: white;
    float: left;
    grid-area: p;
}

.pessoal span {
    font-size: 16pt;
    color: #727376;
}

.formulario {
    grid-area: f;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-areas: "n e"
        "s s"
        "m m";
    gap: 15px;
}

.formulario #name_contact_form {
    grid-area: n;
}

.formulario #email_contact_form {
    grid-area: e;
}

.formulario #subject_contact_form {
    grid-area: s;
}

.formulario #message_contact_form {
    grid-area: m;
}


.input_contato {
    border: 2px solid #EDE54E;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    height: 40px;
    font-size: 14pt;
    outline: none;
    color: #F4F6F7;
    padding: 0px 15px;
}

.input_contato::-webkit-input-placeholder {
    padding: 10px 0px;
    color: #EDE54E;
    font-family: 'League Spartan', sans-serif;
    font-size: 14pt;
}

#message_contact_form {
    padding: 10px 15px;
    height: 120px;

}

#message_contact_form:-webkit-input-placeholder {
    color: #EDE54E;
    font-family: 'League Spartan', sans-serif;
}

#submit_contact_form {
    width: 170px;
    height: 40px;
    background-color: #ddd20d;
    color: black;
    font-family: 'League Spartan', sans-serif;
    font-size: 14pt;
    border: none;
    border-radius: 5px;
    outline: none;
}

#submit_contact_form:hover {
    background-color: #EDE54E;
    color: #373435;
}



/*======FOOTER=========*/

.rodape {
    height: 30px;
    text-align: center;
    background-color: white;
    color: #606062;
    font-weight: 400;
}

/*======MEDIA QUERIES=========*/

@media screen and (max-width: 1007px) {

    /*======HOME=medium====*/
    .home-content {
        display: flex;
        /* grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "texto" "foto"
                             "imagens" "imagens" ; */
        flex-wrap: wrap;
        justify-content: center;
    }

    .text {
        width: 358px;
        /* grid-area: texto; */
        margin-right: 40px;

    }

    .foto {
        /* grid-area: foto; */
        width: 300px;
        height: auto;
        float: right;
    }

    .foto img {
        width: 100%;
        height: 100%;

    }

    .imagens {
        order: 2;
        display: flex;
        width: 100%;
        margin: 0px;
        /* grid-area: imagens; */
        justify-content: center;
    }

    .imagens a {
        width: 50px;
        height: 100%;
        margin-right: 10px;
    }

    /*======ABOUT=medium====*/
    .about-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #description {
        margin-top: 20px;
    }

    /*======SERVICE=medium====*/

    .service-content {
        display: flex;
        flex-wrap: wrap;
    }

    .quad {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 50% 50%;
        grid-template-areas: "i h"
            "i b";
        padding: 50px 40px;

    }

    .icon_service {
        width: 150px;
        height: 150px;
        padding-right: 25px;
        grid-area: i;
    }

    .quad h3 {
        grid-area: h;
    }


    .btn_service {
        clear: left;
        grid-area: b;
    }

    /*======CONTACT=medium====*/
    .contact-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .pessoal {
        margin: 0 0 35px 0;
        text-align: center;
    }

    #submit_contact_form {
        width: 206%;
        height: 55px;
        font-size: 18pt;

    }

}



@media (max-width: 933px) {

    /*DICA: USAR JUNTO DA PROPRIEDADE dentro do body TRANSFORM: translateX(100%)*/
    /*ESCONDE TODO O CONTEÚDO QUE ULTRAPASSAR A TELA*/
    /* overflow: hidden; */

    .menu {
        position: fixed;
        top: 4rem;
        right: 0;
        width: 100vw;
        height: 35vh;
        background-color: #EDE54E;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        /*JOGA O CONTEUDO TODO PRA FORA DA TELA*/
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }


    .menu li {
        margin: 0;
        opacity: 0;
        height: 33px;
    }

    .mobile-menu {
        display: block;
        margin-left: 10em;

    }

    .menu.active_mobile {
        transform: translateX(0);
    }

    @keyframes menuFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);
        }

    }



}

.mobile-menu.active_mobile .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active_mobile .line2 {
    opacity: 0;
}

.mobile-menu.active_mobile .line3 {
    transform: rotate(45deg) translate(-5px, -7px);

}


@media (max-width: 640px) {

    .foto {
        display: none;
    }

    /*======CONTACT=medium====*/
    .main {
        display: block;
        justify-content: center;
    }

    .max-width {
        margin: 0 15px;
    }

    #about_me {
        padding: 0;
    }

    .contact-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .formulario {
        display: flex;
        flex-wrap: wrap;
        font-size: 18pt;
    }

    .formulario input {
        width: 100%;
    }

    #submit_contact_form {
        width: 100%;
        height: 55px;
        font-size: 18pt;

    }
}